.button {
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-weight: inherit;
  color: $light-color;
  background-color: $main-color;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  cursor: pointer;
  @extend %smooth-transition;
  @include media-mobile {
    box-shadow: 0 0 3px rgba(13, 96, 111, 0.08),
      0 2px 3px rgba(13, 96, 111, 0.16);
  }
  &:hover {
    background-color: mix(#ffffff, $main-color, 20%);
  }
  &:active {
    transform: translateX(1px) translateY(1px);
  }
}

.button_small {
  padding: 1rem 3rem;
  line-height: 2.1rem;
}

.button_big {
  padding: 1.35rem 3.25rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  @include media-tablet {
    padding: 1.1rem 2rem;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
  @include media-mobile {
    padding: 0.75rem 0.9rem;
    font-size: 1.1rem;
    line-height: 1.45rem;
  }
}

.button_arrow {
  display: flex;
  align-items: center;
  padding: 1.35rem 3.1rem 1.35rem 3.35rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  @include media-tablet {
    padding: 1.1rem 2rem;
    font-size: 1.7rem;
    line-height: 2.27rem;
  }
  @include media-mobile {
    padding: 0.75rem 1.2rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .icon-arrow {
    padding-right: 1.25rem;
    @include media-tablet {
      padding-right: 0.8rem;
    }
    @include media-mobile {
      padding-right: 0.66rem;
    }
  }
}

.circle-button {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 1px solid transparent;
  background-color: rgba($secondary-color, 0.5);
  cursor: pointer;
  @extend %smooth-transition;
  @include media-mobile {
    width: 0.8rem;
    height: 0.8rem;
  }

  &:hover {
    outline: 1px solid $secondary-color;
  }

  &_active {
    background-color: $secondary-color;
  }
}
