.icon-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('img/icons/logo.svg');
  background-repeat: no-repeat;
}

.icon-bike {
  display: inline-block;
  width: 50px;
  height: 45px;
  background-image: url('img/icons/bike.svg');
  background-repeat: no-repeat;
}

.icon-calendar {
  display: inline-block;
  width: 52px;
  height: 52px;
  background-image: url('img/icons/calendar.svg');
  background-repeat: no-repeat;
}

.icon-plane {
  display: inline-block;
  width: 60px;
  height: 45px;
  background-image: url('img/icons/plane.svg');
  background-repeat: no-repeat;
}

.icon-arrow {
  display: inline-block;
  width: 36px;
  height: 23px;
  background-image: url('img/icons/button-arrow.svg');
  background-repeat: no-repeat;
}
