.icon-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('img/icons/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-bike {
  display: inline-block;
  width: 50px;
  height: 45px;
  background-image: url('img/icons/bike.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include media-mobile {
    width: 35px;
    height: 31.5px;
  }
}

.icon-calendar {
  display: inline-block;
  width: 52px;
  height: 52px;
  background-image: url('img/icons/calendar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include media-mobile {
    width: 35px;
    height: 35px;
  }
}

.icon-plane {
  display: inline-block;
  width: 60px;
  height: 45px;
  background-image: url('img/icons/plane.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include media-mobile {
    width: 40px;
    height: 30px;
  }
}

.icon-arrow {
  display: inline-block;
  width: 35px;
  height: 22.5px;
  background-image: url('img/icons/button-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include media-tablet {
    width: 20px;
    height: 12.86px;
  }
  @include media-mobile {
    width: 8.75px;
    height: 5.63px;
  }
}

.icon-instagram {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('img/icons/instagram.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-youtube {
  display: inline-block;
  width: 33px;
  height: 28px;
  background-image: url('img/icons/youtube.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-twitter {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-image: url('img/icons/twitter.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-github {
  display: inline-block;
  width: 34px;
  height: 33px;
  background-image: url('img/icons/github.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-arrow-prev {
  display: inline-block;
  width: 15px;
  height: 26px;
  background-image: url('img/icons/arrow-prev.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-arrow-next {
  display: inline-block;
  width: 15px;
  height: 26px;
  background-image: url('img/icons/arrow-next.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-google {
  display: inline-block;
  width: 23px;
  height: 24px;
  background-image: url('img/icons/icon-google.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-facebook {
  display: inline-block;
  width: 23px;
  height: 24px;
  background-image: url('img/icons/icon-facebook.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
