.destinations {
  margin: 0 0 8rem;
}

.destinations__title {
  margin-bottom: 4.5rem; // pixel perfect
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.carousel__slides {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.carousel__slide {
  position: relative;
  img {
    border-radius: 16px;
  }
}

.carousel__buttons {
  width: 8rem;
  margin-top: 2rem;

  .circle-button {
    margin-right: 1rem;
  }

  .circle-button:last-child {
    margin-right: 0;
  }
}

.slide__text {
  position: absolute;
  left: 1.5rem;
  bottom: 1.2rem;
  font-size: 3.2rem;
  line-height: 4.23rem;
  text-transform: uppercase;
  color: $light-color;
}

.destinations__button {
  margin: 3.6rem auto 0;
}
