.destinations {
  margin: 0 0 8rem;
  @include media-mobile {
    margin: 0 0 2rem;
  }
}

.destinations__title {
  margin-bottom: 4.5rem; // pixel perfect
  @include media-mobile {
    margin-bottom: 2rem;
  }
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.carousel__slides {
  // position: relative;
  font-size: 0; // whitespace in HTML source adds vertical space
  width: 4000px;
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.carousel__prev {
  display: none;
  @include media-mobile {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: calc(50% - 13px); // 50% - half of the icon width
    // margin (15px) + padding from the slide's edge (11.27px)
    left: calc(15px + 11.27px);
  }
}

.carousel__next {
  display: none;
  @include media-mobile {
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: calc(50% - 13px);
    right: calc(15px + 11.27px);
  }
}

.carousel__slide {
  position: relative;
  img {
    width: 100%;
    border-radius: 16px;
  }
}

.carousel__buttons {
  width: 8rem;
  margin-top: 2.4rem;
  @include media-mobile {
    position: absolute;
    bottom: 0.8rem;
    left: calc(50% - (3.6rem / 2));
    width: 3.6rem;
  }

  .circle-button {
    margin-right: 1rem;
    @include media-mobile {
      margin-right: 0.6rem;
    }
  }

  .circle-button:last-child {
    margin-right: 0;
  }
}

.slide__text {
  position: absolute;
  bottom: 4rem;
  left: 1.5rem;
  margin: 0;
  font-size: 3.2rem;
  line-height: 4.23rem;
  text-transform: uppercase;
  color: $light-color;
  @include media-mobile {
    top: 0.8rem;
    left: 1.5rem;
    font-size: 2rem;
    line-height: 2.65rem;
  }
}

.destinations__button {
  margin: 3.6rem auto 0;
  @include media-mobile {
    margin: 1rem auto 0;
  }
}
