.header {
  .button {
    margin-right: 36px; // pixel-perfect
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.9rem 0 1.8rem;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  background-color: $header-bg-color;
}

.header__logo {
  margin-left: 36px; // pixel-perfect
}

.logo {
  text-decoration: none;
}

.logo__icon {
  padding-right: 3px;
}

.logo__text {
  font-family: $logo-font;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.9rem;
  color: $light-color;
}

.header__navigation {
  margin-right: 32px; // pixel-perfect
}
