.header {
  background-color: rgba($secondary-color, 0.7);
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
  @include media-mobile {
    background: linear-gradient(180deg, #0d606f 0%, rgba(13, 96, 111, 0) 65.1%);
    box-shadow: none;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.4rem;
  @include media-mobile {
    padding: 4.5rem 0 2rem;
  }
}

.header__logo {
  @extend %smooth-transition;
  &:hover {
    filter: brightness(85%);
  }
}

.logo {
  text-decoration: none;
}

.logo__icon {
  padding-right: 6px;
}

.logo__text {
  font-family: $logo-font;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.89rem;
  color: $light-color;
  @include media-mobile {
    display: none;
  }
}

.header__burger {
  display: none;
  @extend %smooth-transition;
  @include media-mobile {
    display: block;
    padding-bottom: 2px;
    margin-right: 4px; // pixel-perfect
    &:hover {
      filter: brightness(85%);
    }
  }
}

.header__menu {
  display: none; // Re-enabled via JS after page load
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  @extend %smooth-transition;
}

.header__menu_hidden {
  transform: translateX(100%);
}

.header__navigation {
  @include media-mobile {
    display: none;
  }
}

.header__button {
  @include media-mobile {
    display: none;
  }
}
