.header {
  background-color: rgba($secondary-color, 0.7);
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0 2.4rem;
}

.header__logo {
  @extend %smooth-transition;
  &:hover {
    filter: brightness(85%);
  }
}

.logo {
  text-decoration: none;
}

.logo__icon {
  padding-right: 6px;
}

.logo__text {
  font-family: $logo-font;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.89rem;
  color: $light-color;
}

.header__navigation {
  margin-right: 3.2rem; // pixel-perfect
}
