.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4.2rem;
  margin: 0; // redefine user-agent style
  margin-bottom: -10px;
  @media (max-width: 890px) {
    margin-left: 10px;
    margin-right: 10px;
  }

  padding-left: 0; // redefine user-agent style
  list-style-type: none;

  li {
    margin-bottom: 10px;
  }
}

.navigation__link {
  // margin-right: 4.2rem;
  border-bottom: 2px solid transparent;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-decoration: none;
  color: $light-color;
  @extend %smooth-transition;

  &:hover {
    border-bottom: 2px solid $light-color;
  }
}

.navigation > li:last-child > .navigation__link {
  margin-right: 0;
}
