.preview {
  max-width: 89.2rem;
  margin-left: 12rem;
  padding-bottom: 25.4rem;
}

.preview__title {
  margin: 3.2rem 0;
}

.preview__text {
  margin-bottom: 4.5rem;
  font-family: $secondary-font;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: italic;
  color: $light-color;
}

.preview__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5rem;
  border-radius: 16px;
  background-color: rgba($light-color, 0.7);
}

.preview__input {
  width: 56rem;
  margin-left: 4.1rem;
  border: none;
  font-family: $secondary-font;
  font-size: 2.4rem;
  line-height: 2.88rem;
  font-style: italic;
  color: $secondary-color;
  background-color: transparent;
  outline: none;
  @extend %smooth-transition;

  &::placeholder {
    color: $secondary-color;
  }
}

.preview__button {
  margin-right: 1.8rem;
}
