.preview {
  padding-bottom: 25.2rem;
  @include media-mobile {
    padding-bottom: 0;
  }
}

.preview__content {
  display: flex;
  flex-direction: column;
  max-width: 89.2rem;
  @include media-mobile {
    padding-top: 4.4rem;
  }
}

.preview__logo {
  display: none;
  @include media-mobile {
    display: block;
  }
}

.preview__title {
  margin: 3.2rem 0 1.4rem;
  @include media-mobile {
    display: none;
  }
}

.preview__text {
  margin-bottom: 4.5rem;
  font-family: $secondary-font;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
  font-style: italic;
  color: $light-color;
  @include media-mobile {
    display: none;
  }
}

.preview__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.5rem;
  border-radius: 16px;
  background-color: rgba($light-color, 0.7);
  @include media-mobile {
    height: 4.8rem;
  }
}

.preview__input {
  width: 56rem;
  margin-left: 4.1rem;
  border: none;
  font-family: $secondary-font;
  font-size: 2.4rem;
  line-height: 2.88rem;
  font-style: italic;
  color: $secondary-color;
  background-color: transparent;
  outline: none;
  @extend %smooth-transition;
  @include media-mobile {
    width: 22.6rem;
    margin-left: 1.66rem;
    font-size: 1.4rem;
    line-height: 1.68rem;
  }

  &::placeholder {
    color: $secondary-color;
  }
}

.preview__button {
  margin-right: 1.8rem;
  @include media-mobile {
    margin-right: 0.9rem;
  }
}
