.steps {
  margin-bottom: 9.6rem;
  @include media-mobile {
    margin-bottom: 2rem;
  }
}

.steps__title {
  margin: 8.2rem 0 4rem; // pixel perfect
  @include media-mobile {
    margin: 8.1rem 0 2.15rem;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  @include media-mobile {
    margin: 0;
  }
}

// hack because middle icon with calendar in mockup is off center
.cards > .card:nth-child(2) {
  position: relative;
  left: 34px;
  @media (max-width: 920px) {
    position: inherit;
  }
  @include media-mobile {
    position: inherit;
  }
}

.card {
  @include media-mobile {
    flex: 1;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card:first-child {
  @include media-mobile {
    align-items: flex-start;
    .card__text {
      max-width: 9.5rem;
      text-align: left;
    }
  }
}

.card:last-child {
  @include media-mobile {
    align-items: flex-end;
    .card__text {
      text-align: right;
    }
  }
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 3rem;
  width: 10rem;
  height: 10rem;
  border-radius: 1.6rem;
  background-color: $secondary-color;
  @include media-tablet {
    width: 8rem;
    height: 8rem;
  }
  @include media-mobile {
    margin: 0 0 2rem;
    width: 7rem;
    height: 7rem;
  }
}

.card__text {
  margin: 0;
  font-family: $secondary-font;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $main-color;
  text-align: center;
  @include media-tablet {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  @include media-mobile {
    font-size: 1rem;
    line-height: 1.2rem;
    // max-width: 9.5rem;
  }
}
