.stories {
  padding-bottom: 4.17rem;
  background: rgba($light-color, 0.7);
  @include media-mobile {
    padding-bottom: 1.3rem;
  }
}

.stories__title {
  margin-bottom: 4rem;
  @include media-mobile {
    margin-bottom: 1rem;
  }
}

.stories__articles {
  padding-top: 4rem;
  margin: 0 auto 4rem;
  @include media-mobile {
    padding-top: 1rem;
    margin: 0 auto 1rem;
  }
}

.story {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-bottom: 3rem;
  font-size: 0; // whitespace in HTML source adds vertical space
  &:last-child {
    margin-bottom: 0;
  }
  @include media-mobile {
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}

.story__image {
  max-width: 400px;
  border-radius: 16px;
  filter: drop-shadow(0 4px 4px $main-color);
  @include media-mobile {
    max-width: 155px;
  }
}

.story__title {
  margin: 0 0 2.4rem;
  @include media-mobile {
    margin: 0 0 1rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    font-weight: 700;
  }
}

.story__text,
.story__link {
  font-family: $secondary-font;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $main-color;
  @include media-mobile {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.story__text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
  @include media-mobile {
    -webkit-line-clamp: 8;
  }
}

.story__link {
  display: block;
  font-weight: bold;

  @extend %smooth-transition;
  &:hover {
    color: mix(#ffffff, $main-color, 30%);
  }
}

.stories__button {
  padding-right: 4rem; // pixel-perfect
  margin: 0 auto;
  @include media-mobile {
    padding-right: 1.35rem;
  }
}
