.stories {
  padding-bottom: 4.17rem;
  background: rgba($light-color, 0.7);
}

.stories__articles {
  margin: 8rem auto 4rem;
}

.story {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-bottom: 3rem;

  &:first-child {
    margin-top: 2rem;
  }
}

.story__image {
  border-radius: 16px;
  filter: drop-shadow(0 4px 4px $main-color);
}

.story__title {
  margin: 0 0 2.4rem;
}

.story__text,
.story__link {
  font-family: $secondary-font;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $main-color;
}

.story__text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0;
}

.story__link {
  font-weight: bold;

  @extend %smooth-transition;
  &:hover {
    color: mix(#ffffff, $main-color, 30%);
  }
}

.stories__button {
  padding-right: 4rem; // pixel-perfect
  margin: 0 auto;
}
