html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
  font-weight: 500;
}

h1 {
  font-family: $secondary-font;
  font-size: 8rem;
  line-height: 9.6rem;
  font-weight: 700;
  color: $light-color;
}

h2 {
  font-size: 4rem;
  line-height: 5.3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;
  @include media-mobile {
    font-size: 1.4rem;
    line-height: 1.85rem;
  }
}

h3 {
  font-family: $secondary-font;
  font-size: 3.5rem;
  line-height: 4.2rem;
  font-weight: 400;
  color: $main-color;
}
