html {
  font-size: 10px;
}

body {
  font-family: $primary-font;
  font-size: 1.6rem;
}

h1 {
  margin-top: 0;
  font-family: $secondary-font;
  font-size: 8rem;
  line-height: 9.6rem;
  font-weight: 700;
  color: $light-color;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 5.3rem;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-color;
}
