%burger-line {
  content: '';
  position: absolute;
  display: block;
  width: 26.25px;
  height: 2.8px;
  border-radius: 2px;
  background-color: $light-color;
}

.burger {
  position: relative;
  width: 35px;
  height: 32px;
  cursor: pointer;

  &__line {
    @extend %burger-line;

    top: calc(50% - 4px);
    left: 4.38px;
  }

  &::before {
    @extend %burger-line;

    top: 6px;
    left: 4.38px;
  }

  &::after {
    @extend %burger-line;

    bottom: 11px;
    left: 4.38px;
  }
}
