.fadeout-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0 0 0 / 0%);
  transition: background-color 1s ease-in-out;
  pointer-events: none;
}

.fadeout-container_active {
  background-color: rgba(0 0 0 / 30%);
  pointer-events: all;
}
