$primary-font: (
  'Red Hat Text',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  'Helvetica Neue',
  sans-serif
);
$secondary-font: (
  'Aleo',
  Cambria,
  'Hoefler Text',
  Utopia,
  'Liberation Serif',
  'Nimbus Roman No9 L Regular',
  Times,
  'Times New Roman',
  serif
);
$logo-font: ('Magra', sans-serif);
