$primary-font: ('Red Hat Text', system-ui, sans-serif);
$secondary-font: (
  'Aleo',
  'Cambria',
  'Hoefler Text',
  'Utopia',
  'Liberation Serif',
  'Nimbus Roman No9 L Regular',
  'Times',
  'Times New Roman',
  serif
);
$logo-font: ('Magra', sans-serif);
